<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.thymeleaf.org ">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://yastatic.net/jquery/3.3.1/jquery.js"></script>

    <style>
        .custom-navbar {
            margin-bottom: 20px;
            background-color: #31373e;
            height: 45px;
        }

        .custom-navbar a {
            color: #82888b;
        }

        .custom-navbar a:hover {
            color: #babcbe;
            text-decoration: none;
        }

        .email {
            color: #ffffff;
            font-size: 18px;
            font-weight: bold;
        }

        .role {
            color: #fff;
            font-size: 18px;
        }

        .padding-left-zero {
            padding-left: 0;
        }

        .padding-left-zero a {
            height: 40px;
        }
    </style>

    <title>Admin panel</title>

</head>
<body>
<nav class="navbar navbar-default custom-navbar padding-left-zero">
    <div class="container-fluid">
        <ul class="nav list-group list-group-horizontal">
            <li><p class="email">[[${currentUser.email}]]&#160</p></li>
            <li><p class="role">with roles:&#160</p></li>
<!--            <li><p class="role">[[${currentUser.roles}]]</p></li>-->
            <li><p class="role" th:text="${role}"></p></li>
        </ul>
        <ul>
            <a class="custom-a" th:href="@{/logout}">Logout</a>
        </ul>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-2 padding-left-zero">
            <a class="btn btn-primary  active btn-block" role="button" aria-pressed="true" th:href="@{/admin}">
            <p class="text-left text-capitalize">admin</p>
            </a>
            <a class="btn btn-linked  btn-link  btn-block" role="button"  th:href="@{/user}">
            <p class="text-left text-capitalize">user</p>
            </a>
        </div>
        <div class="col-10">
            <h1>Admin panel</h1>
            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a class="nav-link" data-toggle="tab" href="#table-users" role="tab">Users table</a></li>
                <li><a class="nav-link" data-toggle="tab" href="#add">New User</a></li>
            </ul>
            <div class="tab-content container-fluid">
                <div role="tabpanel" class="tab-pane active" id="table-users">
                    <br>
                    <h5>All users</h5>
                    <br>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">name</th>
                            <th scope="col">email</th>
                            <th scope="col">roles</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <div id="forModal">

                        </div>
                        <tr th:each="nextOne:${users}">
                            <td th:text="${nextOne.id}"></td>
                            <td th:text="${nextOne.name}"></td>
                            <td th:text="${nextOne.email}"></td>
                            <td th:text="${nextOne.roles}"></td>
                            <td>
                                <a class="btn btn-info edit" id="btn" role="button" th:href="@{'/edit/' + ${nextOne.id}}"
                                   data-toggle="modal" th:attr="data-target='#editUser'+${nextOne.id}">Edit</a>
                                <input type="hidden" id="editId" th:value="${nextOne.id}">
                            </td>
                            <td>
                                <a class="btn btn-danger delete" role="button" th:href="@{'/delete/' + ${nextOne.id}}"
                                   data-toggle="modal" th:attr="data-target='#deleteUser'+${nextOne.id}">Delete</a>
                                <input type="hidden" id="deleteId" th:value="${nextOne.id}">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div role="tabpanel" class="tab-pane" id="add">
                    <br>
                    <h5>Add new user</h5>
                    <br>
                    <div class="col-3 offset-4">
                        <form th:action="@{/admin/users/new}" th:object="${newUser}" method="post">
                            <div class="form-group text-center">
                                <label><b>First Name</b></label>
                                <input type="text" class="form-control" th:field="*{name}" placeholder="First Name" required="required">
                            </div>

                            <div class="form-group text-center">
                                <label><b>Email</b></label>
                                <input type="email" class="form-control" th:field="*{email}" placeholder="Email" required="required">
                            </div>
                            <div class="form-group text-center">
                                <label><b>Password</b></label>
                                <input type="password" class="form-control" th:field="*{password}" placeholder="Password" required="required">
                            </div>
                            <div class="form-group text-center">
                                <label><b>Role</b></label>
                                <select multiple class="form-control" th:field="*{roles}" size="2">
                                    <option value="1">ADMIN</option>
                                    <option value="2">USER</option>
                                </select>
                            </div>
                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-success btn-lg">Add new user</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function() {
        $('table .edit').mouseenter(function() {
            var $id = $(this).parent().find('#editId').val();
            $.get('/admin/users/edituser/'+$id, function(data) {
                $('#forModal').html(data);
            });
        });
        $('table .delete').mouseenter(function() {
            var $id = $(this).parent().find('#deleteId').val();
            $.get('/delete/'+$id, function(data) {
                $('#forModal').html(data);
            });
        });
    });
</script>
</body>
</html>
